

<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            	<% if @user.errors.any? %>
				<div class="col-xs-12" id="error_explanation">
					<h2>
						<%= @user.errors.count %>件のエラーがあります</h2>
					<ul>
						<% @user.errors.full_messages.each do |m| %>
						<li><%= m %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">プロフィール編集</h2>
                    </div>
                    <div class="form-body">
                    	
						<%= form_for(@user) do |f| %>
							<div class="field">
								<label for="user_name">ニックネーム</label>
								<%= f.text_field :name %>
							</div>
							<div class="field">
								<label for="local">出身地</label>
								<%= f.select :local,User.locals.keys.to_a, {} %>
							</div>
							<div class="field">
				    			<label for="user_profile">プロフィール</label>
				    			<%= f.text_area :profile, size: "60x5" %>
				    		</div>
							<div class="field">
								<label for="user_image">プロフィール画像</label>
								<label class="control-label sr-only" for="inputEmail">ProfileImage</label>
				    			<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %><br/>
				    		</div>
				    		<div class="actions">
				    			<%= f.submit "変更する", class:"btn btn-primary btn-block btn-base-1 mt-10" %>
				    		</div>
				    	<% end %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


