<h2>マイページ</h2>
	<div class="row">
		<div class="col-md-12">
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, format: 'jpeg', fallback: "mypage_image.png"%>
		</div>
		<div class="col-md-12">
			<%= @user.name %>
		</div>
		<div class="col-md-12">
			<p>出身地</p>
			<%= @user.local %>
		</div>
	</div>
	<div class="row">
		<% if @user == current_user %>
			<p><%= link_to '編集する', edit_user_path(current_user.id), class: 'col-md-3 col-md-offset-2 btn btn-default' %></p>
			<p><%= link_to '自分の投稿', user_path(current_user.id), class: 'col-md-3 col-md-offset-2 btn btn-default' %></p>
			<p><%= link_to 'お気に入り一覧', likes_posts_path, class: 'col-md-3 col-md-offset-2 btn btn-default' %></p>
		<% else %>
		<% end %>
	</div>
