<div class="container">
	<div class="box2 about-title">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Deep Local Trip とは</h1>
			</div>
		</div>
	</div>
	<div class="row well">
		<div class="col-md-12">
			<h3>Deep Local Tripは日本全国のおすすめを共有できるサイトです！旅行先のあのお店が美味しかったからみんなにおすすめしたい！や、地元のここの景色がとても綺麗だから是非見に行って欲しい！等の情報を専門にしたサイトです。旅行先を調べる時や、地元のご飯屋さんを調べたい時にも使えます！個人の投稿なのでネットの記事では出てこないディープな記事も見られるのが特徴です！<h3>
		</div>
	</div>
	<div class="box2 about-title">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Deep Local Trip 4つの魅力</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-12 box2 about-tizu">
			<%= image_tag asset_path('about1.png') %>
			<h2 class="box7 font-about">都道府県別で検索できる!</h2>
			<p>・都道府県別で投稿、検索できるので記事が探しやすいです！</p>
		</div>
		<div class="col-lg-3 col-md-12 box2 about-tizu">
			<%= image_tag asset_path('about2.png') %>
			<h2 class="box7 font-about">地元、旅行先を投稿できる!</h2>
			<p>・地元か旅行者かを分けて投稿できるので、調べてる時の判断材料になります！</p>
		</div>
		<div class="col-lg-3 col-md-12 box2 about-tizu">
			<%= image_tag asset_path('about3.png') %>
			<h2 class="box7 font-about">投稿に地図が出る!&emsp;&emsp;&emsp;</h2>
			<p>・投稿に地図が表示されるので、場所を明確にできます！</p>
		</div>
		<div class="col-lg-3 col-md-12 box2 about-tizu">
			<%= image_tag asset_path('heart_small.png') %>
			<h2 class="box7 font-about">ブックマーク機能がある！</h2>
			<p>・いいね機能でブックマークができます！マイページからお気に入り一覧が見れます！</p>
		</div>
	</div>
	<div class="box2 about-title">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">使い方</h1>
			</div>
		</div>
		<div class="row about-post well">
			<div class="col-md-12">
				<%= image_tag asset_path('about_nav2.png'), size: "800x100", class: "center-block img" %>
				<h2>・まずは上の新規登録から会員登録をお願いします</h2>
				<%= image_tag asset_path('about_nav.png'), size: "800x100", class: "center-block img" %>
				<h2>・次に新規投稿を押して入力します(ログイン後上のリンクが変わります)</h2>
				<%= image_tag asset_path('about_newpost.png'), size: "800x800", class: "center-block img" %>
				<h2>・項目を全部埋めて投稿するを押したら投稿できます！</h2>	
				<%= image_tag asset_path('about_nav3.png'), size: "800x100", class: "center-block img" %>
				<h2>・記事を探すときは都道府県一覧から探してみてください！</h2>
				<h1 class="box7">早速使ってみよう！</h1>
			</div>
		</div>
	</div>
	
</div>