<div id="container">
        <div id="theTarget">
            <div style="background-image: url(<%= asset_path('home1.jpg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home2.jpg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home3.jpeg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home4.jpg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home5.jpeg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home6.jpeg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
            <div style="background-image: url(<%= asset_path('home7.jpeg') %>)"><h1 class="mv-title">Deep Local Trip</h1></div>
        </div>
</div>
