<div class="container">
	<div class="row">
		<h1 class="col-md-offset-1">お気に入り</h1>
			<% @like_posts.each do |post| %>
			  <div class="col-sm-12 col-md-6 waku">
			    <div class="card img-thumbnail">
			    	<%= link_to post_path(post.id) do %>
			      		<%= attachment_image_tag post, :post_image, :fill,500,500, format: 'jpeg', fallback: "show_image.png", class: "img" %>
			      	<% end %>
			      <div class="card-body">
			        <h2 class="card-title">
			        	<%= link_to user_mypage_path(post.user_id) do %>
			        		<%= attachment_image_tag post.user, :profile_image, :fill,70,70, format: 'jpeg', fallback: "show_image.png", class: 'img-circle' %>
			        	<% end %>
			        	&ensp;
			        	<%= link_to post.title, post_path(post.id) %>
			        </h2>
			        	<div class="card-text">
			        		<%= link_to user_mypage_path(post.user_id) do %>
			        			<p><%= post.user.name%></p>
			        		<% end %>
			        	</div>
			      </div>
			    </div>
			  </div>
			<% end %>
	</div>
</div>
<!-- フッター -->
<footer class="footer">
    <div class="container">
	    <h5 class="text-right text-muted">
            <a href="https://twitter.com/UtaAoba" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>:作成者:さとう。
        </h5>
    </div>
</footer>
<!-- フッター -->