<div class="row">
	<div class="col-md-10 col-md-offset-1">
	
	<%= attachment_image_tag @post, :post_image, :fill, 300, 300, class: "img-circle pull-left profile-thumb" %>
	<%= @post.user.name %>
	<%= (@post.is_valid == true) ? "旅行客" : "地元" %>
	<%= @post.title %>
	<%= @post.supplement %>
	<%= @post.prefecture.name %>
	<div class="row">
		<% if @post.like_by?(current_user) %>
			<li>
				<%= link_to post_likes_path(@post), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @post.likes.count %>
				<% end %>
			</li>
		<% else %>
			<li>
				<%= link_to post_likes_path(@post), method: :post do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: black;"></i>
					<%= @post.likes.count %>
				<% end %>
			</li>
			<% end %>
	</div>
	<%= @post.text %>
	
	<h3><i class="fa fa-comment"></i><%= @post.post_comments.count %>件のコメント</h3>
	<ol>
	    <% @post.post_comments.each do |post_comment| %>
	        <li class="comment">
	            <div class="comment-body bb">
	                <div class="comment-avatar">
	                    <div class="avatar">
	                        
	                    </div>
	                </div>
	                <div class="comment-text">
	                    <div class="comment-author clearfix">
	                        <%= post_comment.user.name %>
	                        <span class="comment-meta">
	                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
	                        </span>
	                    </div>
	                    <div class="comment-entry"><%= post_comment.comment %></div>
	                    <% if post_comment.user == current_user%>
						  <div>
						    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger pull-right" %><br/><br/>
						  </div>
						<% end %>
	                </div>
	            </div>
	        </li>
	    <% end %>
	</ol>
	<%= form_for [@post, @post_comment] do |f| %>
	    <div class="row">
	        <div class="col-sm-12">
	            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメント" %>
	        </div>
	    </div>
	 <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>

	</div>
</div>